:root {
    --color-primario: #7CA7FC;
    --color-secundario: #6E2FFA 
    --color-fondo-secundario: #2F33FA;
    --color-fondo: #F5F7FA;
    --color-texto: #000000;
    --color-border: #1015FF;
    --color-boton: #2FB3FA;
    --color-boton-hover: #BA40FF;
    --color-boton-texto: #fff;
    --color-boton-texto-hover: #e0e0e0;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "SUSE Mono", sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6;
}

button {
  background-color: var(--color-boton);
  color: var(--color-boton-texto);
  border: 2px solid var(--color-border);
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--color-boton-hover);
  color: var(--color-boton-texto-hover);
  transform: scale(1.05); /* efecto sutil */
}